<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find ugv_simulation)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find ugv_simulation)/worlds:$(optenv GAZEBO_RESOURCE_PATH)"/> 

  <arg name="world" default="laser" />
  <arg name="pause" default="false" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true" />
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(find ugv_simulation)/worlds/$(arg world).world" />
  </include>
</launch>