<?xml version="1.0" ?>
<robot name="l1br" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--=========================== CONTROL ===========================-->
  <xacro:include filename="l1br_control.xacro" />
  <xacro:include filename="sensors/imu_sensor.urdf.xacro" />
  <xacro:include filename="sensors/laser_sensor.urdf.xacro" />

  <!-- =========================== ROBOT ===========================  -->
  <xacro:include filename="robot_parts/traction_wheel.xacro" />
  <xacro:include filename="robot_parts/caster_wheel.xacro" />
  <xacro:include filename="robot_parts/robot_base.xacro" />
  <xacro:include filename="robot_parts/tray.xacro" />
  <xacro:tray/>
  <xacro:include filename="robot_parts/piston.xacro" />
  <xacro:piston/>
    
  <xacro:imu_sensor/>

  <xacro:laser_sensor
    update_rate="5"
    ray_count="360"
    min_angle="0"
    max_angle="6.28"
    min_range="0.12"
    max_range="8.0"
    topic_name="scan"
    pos_x="0.27"
    pos_y="0"
    pos_z="0.188"
  />

</robot>
