<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="oni">
    <xacro:include filename="sensors/imu_sensor.urdf.xacro"/>
    <xacro:include filename="sensors/laser_sensor.urdf.xacro"/>
    <xacro:include filename="oni_omni_drive_control.urdf.xacro"/>

    <xacro:include filename="robot_parts/robot_base.urdf.xacro"/>
    <xacro:include filename="robot_parts/traction_wheel.urdf.xacro"/>

    <xacro:imu_sensor
        topic="oni/imu/data"
    />

    <xacro:laser_sensor
        update_rate="5"
        ray_count="360"
        min_angle="0"
        max_angle="6.28"
        min_range="0.12"
        max_range="8.0"
        pos_x="-0.0475"
        pos_y="0"
        pos_z="0.075"
        topic="oni/scan"
    />
</robot>
