<?xml version="1.0 ?>
<robot name="oni" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="omni_drive_controller">
        <gazebo>
            <plugin name="omni_drive_controller" filename="libgazebo_ros_planar_move.so">
                
                <commandTopic>oni/cmd_vel</commandTopic>
                <odometryTopic>oni/odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <odometryRate>20.0</odometryRate>
                <robotBaseFrame>base_link</robotBaseFrame>
                
            </plugin>
        </gazebo>
    </xacro:macro>

    <xacro:omni_drive_controller/>
</robot>
